body{
    margin-left: 100px;
    margin-right: 100;
}
main {
    background-color: lightpink;
}
header {
    height: 100px;
    background-color: lightgray;
}
.navbar_items {
    float: right;
    margin-right: 60px;
    margin-bottom: 50px;
}
.navbar_items ul {
    display: flex;
}
.banner {
    display: block;
    height: 400px;
    width: 100%;

background-size: cover;
background-color: pink;

background-position: center;
}
.about_me {
    display: flex;
}