*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    margin-left: 100px;
    margin-right: 100;
}
main {
    background-color: gray;
}
header {
    height: 100px;
    padding: 16px 6% 16px 0;
    box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
    background-color: gray;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    
}
header h1 {
    height: 100px;
    padding: 16px 6% 16px 0;
}

.about_me {
    height: 20px;
    padding: 16px 6% 16px 0;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    color: whitesmoke;
    list-style: none;
}

.banner {
    display: block;
    height: 400px;
    width: 100%;

background-size: cover;
background-color: blue;

background-position: center;
}
.about_me {
    display: flex;
}