*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    float: centers;
    display: block;
    
}
header h1 {
    font-size: 40px;
    text-transform: uppercase;
}
aside {
    float: left;
    background: linear-gradient(to bottom right, rgba(173, 129, 129, 0.842),rgba(157, 190, 209, 0.745));
    background-repeat: no-repeat;
    height: 100%;
    max-width: 12rem;
    padding: 1rem;
    background-color: rgba(240,248,255, 0.226);
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
}
#name-style {
    font-size: 25px;
    font-family: "sofia", sans-serif;
    color: white;
    display: flex;
    margin: 0 auto;
}
body{
    margin-left: 100px;
    margin-right: 100;
}
main {
    background-color: gray;
}


.about_me {
    height: 20px;
    padding: 16px 6% 16px 0;
}
.about_me h2 {
    flex-wrap: aside;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    color: whitesmoke;
    list-style: none;
}

.banner {
    display: block;
    height: 400px;
    width: 100%;

background-size: cover;
background-color: blue;

background-position: center;
}
.about_me {
    display: flex;
}

footer {

}