
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black
}
a {
    text-decoration: underline;
    color: teal;
}
header {
    background-color: darkgray;
    padding: 20px;
    color: white;
    width: 100%;
    height: auto;
}
header h1 {
    display: inline-block;
    font-size: 52px;
    background-color: teal;
    color: white;
}
#name-style {
    font-family: 'Amatic SC', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, Helvetica, sans-serif;
}
.links{
    padding-top: 1.5rem;
    margin-right: 2rem;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Lucida Sans Unicode', 'lucida Grande', 'Lucida Sans', Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.links ul li {
    display: inline-block;
    list-style-type: none;
    margin-left: 25px;
    text-transform: uppercase;
}
.hero {
    height: 20rem;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/place_holder.png");
    background-size: cover;
    position: relative;
}
#subtitle-img {
    position: absolute;
    right: 1rem;
    bottom: .5rem;
    background-color: teal;
    font-style: italic;
    color: darkgray;
    padding: 1rem;
}
h2 {
    font-size: 52px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: inline;
}
.about_me {
    display: flex;
    flex-direction: row;
    flex: left;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.align-right {
    border-left: teal solid 3px;
}
.about_me > p {
    padding: 0 2rem;
}
.about_me h2 {
    padding: 0 2rem;
}
div .work-left {
    flex: right;
}
#work-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img-box1 {
    opacity: .7;
    position: relative;
    display: flex;
    align-self: center;
    border: solid 3px teal;
    width: min-content;
    height: auto;
}
.work-img {
    position: absolute;
    left: 0;
    top: 0;
    background-color: teal;
    font-style: italic;
    color: darkgray;
}
#work-parent .img-box {
    display: inline;
    flex-wrap: wrap;
    height: auto;
    flex-basis: 40%;
    opacity: 40%;
    margin: .5rem;
    padding: 0;
    border: solid 3px teal;
}

.work-left {
    border-left: teal solid 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
}
.img-box1:hover {
    opacity: 1;
    cursor: pointer;
}
.img-title {
    position: absolute;
    bottom: 2rem;
    background-color: teal;
    color: darkgray;
    padding: 1rem;
    text-transform: uppercase;
}
.sub-one {
    position: relative;
}
.sub-two {
    position: relative;
}
.sub-three {
    position: relative;
}
.sub-four {
    position: relative;
}
.sub-one > .img-title1 {
    position: absolute;
    bottom: 2rem;
    background-color: teal;
    color: darkgray;
    padding: 1rem;
    text-transform: uppercase;
}
.sub-two > .img-title2 {
    position: absolute;
    bottom: 2rem;
    background-color: teal;
    color: darkgray;
    padding: 1rem;
    text-transform: uppercase;
}
.sub-three > .img-title3 {
    position: absolute;
    bottom: 2rem;
    background-color: teal;
    color: darkgray;
    padding: 1rem;
    text-transform: uppercase;
}
.sub-four > .img-title4 {
    position: absolute;
    bottom: 2rem;
    background-color: teal;
    color: darkgray;
    padding: 1rem;
    text-transform: uppercase;
}
.contact-me {
    background-color: darkgray;
    padding: 20px 0;
    color: white;
    display: flex;
    flex-direction: row;
    flex: left;
    flex-wrap: wrap;
    align-items: center;
}
.links ul li {
    display: inline-block;
    list-style-type: none;
    margin-left: 25px;
    text-transform: uppercase;
}
@media screen and (max-width:980px) {
    header nav {
        float: none;
        clear: left;
        width: 100%;
    }
    .links {
        float: none;
    }
    header nav ul {
        margin: 0;
        padding: 0;
    }
    header nav ul li {
        width: 20%;
        padding: 0;
        text-align: center;
        margin: 0;
    }
    .main-img-resize {
        width: 450px;
        height: auto;
    }
    .contact-me {
        display: block;
        justify-self: center;
        width: 100%;
    }
    .links1 {
        flex: none;
    }
}
@media screen and (max-width:700px) {
    .main-img-resize {
        width: 300px;
        height: auto;
    }
    .img-box-resize {
        width: 200px;
        height: auto;
    }
    #work-parent .img-box, .img-box1 {
        border: none;
    }
    #image-title1, #image-title2, #image-title3, #image-title4 {
        display: none;
    }
    .links ul li {
        margin-left: 0;
        text-transform: uppercase;
    }
    .contact-me, .about_me, .align-left {
        flex: 0 0 100%;
        text-align: center;
    }
    div .work-left {
        flex: 0 0 100%;
    }
    .work-left, .align-right {
        border-left: none;
    }
    .about_me > p {
        flex: 0 0 100%;
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 420px) {
    .links ul li, .links1 ul li {
        display: block;
    }
    header nac ul li, .links1{
        width: 100%;
    }
}