*{
    font-family: sans-serif;
    font-weight: normal;
}

body {
   background-color: lightgray;
   position: relative;
}
#styling {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../assets/water-on-car-glass-rain-drops-on-clear-window-and-blue-background-.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.1;
    z-index: -2;
}
header {
    background-color: darkgray;
    width: 100%;
    height: 10%;
}
header h1 {
    display: inline-flex;
    font-size: 3rem;
    background-color: teal;
    color: white;
    padding-right: 0.9rem;
    padding-left: 0.9rem;
    padding-top: 0.9rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
nav {
    float: right;
}
nav ul li {
    display: inline-flex;
    justify-content: space-around;
    font-size: 3rem;
    margin-right: 1.5rem;
    margin-top: 0,5rem;
    margin-bottom: 1rem;
}
#banner {
    position: relative;
    color: teal;
    background-image: url("../assets/img-coffee-laptop.png");
    height: 30rem;
    width: 100%;
    padding: 20px;
}
#banner > #subtitle {
    float: right;
    top: 10rem;
    background-color: teal;
    color: white;
    width: fit-content;
    height: fit-content;
    font-size: 2rem;
    margin-top: 17rem;
    padding-right: 0.2rem;
    padding-left: 0.9rem;
    padding-top: 0.9rem;
}
#banner img {
    height: 19rem;
    width: 19rem;
    margin-top: 2.7rem;
    margin-left: 2.5rem;
}
main section,
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: teal;
    font-size: 1.5rem;
}
h2 {
    border-right: 0.2rem solid teal;
    min-width: 15%;
    text-align: center;
    font-size: 3.75rem;
    margin-right: 0.2rem;
    margin-top: 0.2rem;
    padding: 1rem;
    font-family: sans-serif inherit;
    font-size: 2.3rem;
    font-weight: bold;
}
#parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#parent .child {
    display: inline;
    flex-wrap: wrap;
    flex-basis: 50%;
}
#project-1,
#project-2,
#project-3,
#project-4,
#project-5 {
    position: relative;
    color: teal;
}
#project-1 > #top-left-1,
#project-2 > #top-left-2,
#project-3 > #top-left-3,
#project-4 > #top-left-4,
#project-5 > #top-left-5 {
    position: absolute;
    top: 3rem;
    background-color: lightgray;
    width: fit-content;
    font-size: 4rem;
    padding-right: 0.9rem;
    padding-left: 0.9rem;
    padding-top: 0.9rem
}
#img-1 {
    width: 97%;
    border: solid teal 0.4rem;
    margin-bottom: 0.4rem;
    opacity: 0.5;
    margin: 1.5rem;
    padding: 2rem;
}
.img {
    display: flex;
    float: left;
    width: 97%;
    height: 60vh;
    border: solid teal 0.4rem;
    opacity: 0.5;
    margin: 1.5rem;
    padding: 2rem;
}
footer {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}
footer ul li {
    display: inline-flex;
    justify-content: space-around;
    margin-right: 3 rem;
    margin-top: 1rem;
}
a:link {
    color: teal;
}
a:hover {
    background-color: teal;
    color: white;
    border-radius: 0.8rem;
}

.links1 {
    text-align: right;
    margin-bottom: auto;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    flex: var(--flex-basis-right);
}
.links ul li {
    display: inline-block;
    list-style-type: none;
    margin-left: 25px;
    text-transform: uppercase;
}
@media screen and (max-width:980px) {
    header nav {
        float: none;
        clear: left;
        width: 100%;
    }
    .links {
        float: none;
    }
    header nav ul {
        margin: 0;
        padding: 0;
    }
    header nav ul li {
        width: 20%;
        padding: 0;
        text-align: center;
        margin: 0;
    }
    .main-img-resize {
        width: 450px;
        height: auto;
    }
    .contact-me {
        display: block;
        justify-self: center;
        width: 100%;
    }
    .links1 {
        flex: none;
    }
}
@media screen and (max-width:700px) {
    .main-img-resize {
        width: 300px;
        height: auto;
    }
    .img-box-resize {
        width: 200px;
        height: auto;
    }
    #work-parent .img-box, .img-box1 {
        border: none;
    }
    #image-title1, #image-title2, #image-title3, #image-title4 {
        display: none;
    }
    .links ul li {
        margin-left: 0;
        text-transform: uppercase;
    }
    .contact-me, .about_me, .align-left {
        flex: 0 0 100%;
        text-align: center;
    }
    div .work-left {
        flex: 0 0 100%;
    }
    .work-left, .align-right {
        border-left: none;
    }
    .about_me > p {
        flex: 0 0 100%;
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 420px) {
    .links ul li, .links1 ul li {
        display: block;
    }
    header nac ul li, .links1{
        width: 100%;
    }
}