
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black
}
a {
    text-decoration: underline;
    color: teal;
}
header {
    background-color: darkgray;
    padding: 20px;
    color: white;
    width: 100%;
    height: auto;
}
header h1 {
    display: inline-block;
    font-size: 52px;
    background-color: teal;
    color: rgb(47, 79,79);
}
#name-style {
    font-family: 'Amatic SC', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, Helvetica, sans-serif;
}
.links{
    padding-top: 1.5rem;
    margin-right: 2rem;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Lucida Sans Unicode', 'lucida Grande', 'Lucida Sans', Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.links ul li {
    display: inline-block;
    list-style-type: none;
    margin-left: 25px;
    text-transform: uppercase;
}
.hero {
    height: 20rem;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/place_holder.png");
    background-size: cover;
    position: relative;
}
#subtitle-img {
    position: absolute;
    right: 1rem;
    bottom: .5rem;
    background-color: teal;
    font-style: italic;
    color: darkgray;
    padding: 1rem;
}
h2 {
    font-size: 52px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: inline;
}
.about_me {
    display: flex;
    flex-direction: row;
    flex: left;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.align-right {
    border-left: teal solid 3px;
}
.about_me > p {
    padding: 0 2rem;
}
.about_me h2 {
    padding: 0 2rem;
}
div .work-left {
    flex: right;
}
#work-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img-box1 {
    opacity: .7;
    position: relative;
    display: flex;
    align-self: center;
    border: solid 3px teal;
    width: min-content;
    height: auto;
}
.work-img {
    position: absolute;
    left: 0;
    top: 0;
    background-color: teal;
    font-style: italic;
    color: darkgray;
}
#work-parent .img-box {
    display: inline;
    flex-wrap: wrap;
    height: auto;
    flex-basis: 40%;
    opacity: 9%;
    margin: .5rem;
    padding: 0;
    border: solid 3px teal;
}

.work-left {
    border-left: teal solid 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
}
.img-box1:hover {
    opacity: 1;
    cursor: pointer;
}
.img-title {
    position: absolute;
    bottom: 2rem;
    background-color: teal;
    color: darkgray;
    padding: 1rem;
    text-transform: uppercase;
}
.sub-one {
    position: relative;
}
.sub-two {
    position: relative;
}
.sub-three {
    position: relative;
}
.sub-four {
    position: relative;
}
.sub-one > .img-title1 {
    position: absolute;
    bottom: 2rem;
    background-color: teal;
    color: darkgray;
    padding: 1rem;
    text-transform: uppercase;
}
.sub-two > .img-title2 {
    position: absolute;
    bottom: 2rem;
    background-color: teal;
    color: darkgray;
    padding: 1rem;
    text-transform: uppercase;
}
.sub-three > .img-title3 {
    position: absolute;
    bottom: 2rem;
    background-color: teal;
    color: darkgray;
    padding: 1rem;
    text-transform: uppercase;
}
.sub-four > .img-title4 {
    position: absolute;
    bottom: 2rem;
    background-color: teal;
    color: darkgray;
    padding: 1rem;
    text-transform: uppercase;
}