*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    float: centers;
    display: block;
    
}
header h1 {
    font-size: 40px;
    text-transform: uppercase;
}
aside {
    float: left;
    background: linear-gradient(to bottom right, rgba(173, 129, 129, 0.842),rgba(157, 190, 209, 0.745));
    background-repeat: no-repeat;
    height: 100%;
    max-width: 12rem;
    padding: 1rem;
    background-color: rgba(240,248,255, 0.226);
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
}
#name-style {
    font-size: 25px;
    font-family: "sofia", sans-serif;
    color: white;
    display: flex;
    margin: 0 auto;
}
main {
    width: 70%;
    margin-left: 19.5rem;
}
section {
    border-bottom: solid rgba(112, 128, 144, 0.699) 1px;
}
.side_nav {
    margin-top: 2rem;
}
nav a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: whitesmoke;
    list-style-type: none;
}
ul {
    list-style-type: none;
    font-size: 25px;
}
.main-title {
    margin-bottom: 1rem;
}
.about_me {
    padding: 2rem 0;
}
#facts {
    text-align: center;
}
.about_me > p {
    padding: 2rem 5rem;
} 
.port-row {
    display: flex;
    flex-wrap: wrap;
    padding: 2.5rem;
    background-color: rgba(240,248,255, 0.513);
}
.portbox {
    border: rgba(157, 190, 209, 0.52) solid 5px;
    flex: 1 0 100%;
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
}
.port-card {
    display: flex;
    flex-direction: column;
    padding: 2rem 0 0 1 rem;
    transition: all 0.5s ease-in-out;
}
.port-card .port-h2 {
    position: relative;
    margin: -4rem 0 1.5rem 0;
    padding: 0.5rem 0rem;
    transition: all 0.5s ease-in-out;
}
.articleimg {
    max-width: 50%;
}
@media screen and (min-width: 768px) {
    .portbox{
        flex: 0 0 50%;
        max-width: 50%;
    }
    @media screen and (min-width: 992px) {
        .port-h2 {
            width: 50%;
        }
        .portbox {
            flex: 0 0 33.333%;
            max-width: 33.333%;
        }
    }