
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black
}
a {
    text-decoration: underline;
    color: teal;
}
header {
    background-color: darkgray;
    padding: 20px;
    color: white;
    width: 100%;
    height: auto;
}
header h1 {
    display: inline-block;
    font-size: 52px;
    background-color: teal;
    color: rgb(47, 79,79);
}
#name-style {
    font-family: 'Amatic SC', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, Helvetica, sans-serif;
}
.links{
    padding-top: 1.5rem;
    margin-right: 2rem;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Lucida Sans Unicode', 'lucida Grande', 'Lucida Sans', Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.links ul li {
    display: inline-block;
    list-style-type: none;
    margin-left: 25px;
    text-transform: uppercase;
}
.hero {
    height: 20rem;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/place_holder.png");
    background-size: cover;
    position: relative;
}
#subtitle-img {
    position: absolute;
    right: 1rem;
    bottom: .5rem;
    background-color: teal;
    font-style: italic;
    color: darkgray;
    padding: 1rem;
}
h2 {
    font-size: 52px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: inline;
}
.about_me {
    display: flex;
    flex-direction: row;
    flex: left;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


